@{
    ViewData["Title"] = "Index";
}

<script>
    function proceed() {
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', 'SendNotification');
        form.style.display = 'hidden';
        document.body.appendChild(form)
        form.submit();
    }
</script>

<h2>Mail</h2>

<button type="button" onclick="proceed();">Send</button>

