@model ADVCoupon.ViewModel.CouponViewModel.CouponClientGridViewModel

@{
    ViewData["Title"] = "Coupon Details";
}

<h2>@Model.CouponName</h2>

<div class="container">
                <div class="card">
                    <img style='width:400px; height:400px;' class="img-fluid card-img-top" src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.CouponImage))" />
                    <a class="card-title btn btn-primary" asp-action="ClientDetail" asp-route-id="Model.CouponGuid">Upload</a>
                </div>


                <a asp-action="Index" class="btn btn-primary">Back to Grid</a>
</div>