@using ADVCoupon.ViewModel.PdfViewModel;
@model CouponPdfViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CouponPdf</title>
</head>
<body>
    <b> @Model.Message</b>
    <b> BLIAT EBAT</b>
    <img src="http://www.barcodes4.me/barcode/c39/AnyValueYouWish.png" />
</body>
</html>
