@model ADVCoupon.ViewModel.CouponViewModel.CouponCreateItemViewModel

@{
    ViewData["Title"] = "Create";
}

<script>
    document.addEventListener('DOMContentLoaded', function () {

        optionIsAbsoluteDiscount = document.getElementById("isAbsoluteDiscountInput").checked;
        if (optionIsAbsoluteDiscount === true) {
            document.getElementById("discountAbsoluteForm").hidden = false;
            document.getElementById("discountPercentageForm").hidden = true;
        } else {
            document.getElementById("discountAbsoluteForm").hidden = true;
            document.getElementById("discountPercentageForm").hidden = false;
        }

    });
    function showCorrectDiscount(element) {
        optionIsAbsoluteDiscount = document.getElementById("isAbsoluteDiscountInput").checked;
        if (optionIsAbsoluteDiscount === true) {
            document.getElementById("discountAbsoluteForm").hidden = false;
            document.getElementById("discountPercentageForm").hidden = true;
        } else {
            document.getElementById("discountAbsoluteForm").hidden = true;
            document.getElementById("discountPercentageForm").hidden = false;
        }

    };

</script>


<h2>Create</h2>

<h4>Coupon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Caption" class="control-label"></label>
                <input asp-for="Caption" class="form-control" />
                <span asp-validation-for="Caption" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsAbsoluteDiscount" class="control-label"></label>
                <input asp-for="IsAbsoluteDiscount" class="form-control" id="isAbsoluteDiscountInput" onchange="showCorrectDiscount(this)" />
                <span asp-validation-for="IsAbsoluteDiscount" class="text-danger"></span>
            </div>
            <div class="form-group" id="discountPercentageForm">
                <label asp-for="DiscountPercentage" class="control-label"></label>
                <input asp-for="DiscountPercentage" class="form-control" />
                <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
            </div>
            <div class="form-group" id="discountAbsoluteForm">
                <label asp-for="DiscountAbsolute" class="control-label"></label>
                <input asp-for="DiscountAbsolute" class="form-control" />
                <span asp-validation-for="DiscountAbsolute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input type="date" asp-for="StartDate" class="form-control" data-val="true" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input type="date" asp-for="EndDate" class="form-control" data-val="true" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCapacity" class="control-label"></label>
                <input asp-for="TotalCapacity" class="form-control" />
                <span asp-validation-for="TotalCapacity" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Products" class="control-label"></label>
                <select asp-for="ProductsId" asp-items="@Model.Products"></select>
                <span asp-validation-for="Products" class="text-danger"></span>
            </div>

            @Html.AjaxGrid(Url.Action("CreateProductGrid"))

            
                <div class="form-group">
                    <div class="add-sets">
                        <div class="form-inline add-set">
                            <div class="form-group">
                                <label class="control-label">Network</label>
                                <select multiple name="NetworkBarcodes[0].Networks" class="form-control network-select" asp-items="@Model.Networks"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="NetworkBarcodes.First().BarcodeValue" class="control-label"></label>
                                <input asp-for="NetworkBarcodes.First().BarcodeValue" name="NetworkBarcodes[0].BarcodeValue" placeholder="Barcode value" class="form-control barcode-select" />
                                <span asp-validation-for="NetworkBarcodes.First().BarcodeValue" class="text-danger" />
                            </div>

                            <div class="form-group">
                                <button class="btn btn-remove-set" data-toggle="tooltip" title="Remove Set"><span class="glyphicon glyphicon-minus"></span></button>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-add-set">Add Set</button>
                </div>
          



            <div class="form-group">
                <label asp-for="IsApproved" class="control-label"></label>
                <input asp-for="IsApproved" class="form-control" />
                <span asp-validation-for="IsApproved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>



        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {

            removeButton();

            var wrapper = $('.add-sets');

            $(".btn-add-set").click(function (e) {
                e.preventDefault();

                $('.add-set:last-child .network-select')[0].children.

                var cloned = $('.add-set:last-child').clone(true).appendTo(wrapper);;

                reasignNames();

                $('.add-set .btn-remove-set').show();
            });

            $('.btn-remove-set').click(function (e) {
                e.preventDefault();
                $(this).parents('.add-set').remove();

                reasignNames();

                removeButton();
            });

            function reasignNames() {
                debugger;

                $('.add-sets .network-select').each(function (element) {
                    $(this)[0].name = 'NetworkBarcodes[' + element + '].Networks';
                });

                $('.add-sets .barcode-select').each(function (element) {
                    $(this)[0].name = 'NetworkBarcodes[' + element + '].BarcodeValue';
                }); 
            }

            function removeButton() {
                if ($('.add-set').length == 1) {
                    $('.add-set .btn-remove-set').hide();
                }
            }
        });
    </script>
}
