@model ADVCoupon.ViewModel.CouponViewModel.CouponCreateItemViewModel

@{
    ViewData["Title"] = "Edit";
}
<script>
document.addEventListener('DOMContentLoaded', function(){ 

        optionIsAbsoluteDiscount = document.getElementById("isAbsoluteDiscountInput").checked;
        if(optionIsAbsoluteDiscount === true)
        {
            document.getElementById("discountAbsoluteForm").hidden = false;
            document.getElementById("discountPercentageForm").hidden = true;
        } else {
            document.getElementById("discountAbsoluteForm").hidden = true;
            document.getElementById("discountPercentageForm").hidden = false;
        }

    });
    function showCorrectDiscount(element) {
         optionIsAbsoluteDiscount = document.getElementById("isAbsoluteDiscountInput").checked;
        if(optionIsAbsoluteDiscount === true)
        {
            document.getElementById("discountAbsoluteForm").hidden = false;
            document.getElementById("discountPercentageForm").hidden = true;
        } else {
            document.getElementById("discountAbsoluteForm").hidden = true;
            document.getElementById("discountPercentageForm").hidden = false;
        }

    };
</script>
<h2>Edit</h2>

<h4>Coupon</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
           <div class="form-group">
                <label asp-for="Caption" class="control-label"></label>
                <input asp-for="Caption" class="form-control" />
                <span asp-validation-for="Caption" class="text-danger"></span>
            </div>
           <div class="form-group">
                <label asp-for="IsAbsoluteDiscount" class="control-label"></label>
                <input asp-for="IsAbsoluteDiscount" class="form-control" id="isAbsoluteDiscountInput" onchange="showCorrectDiscount(this)" />
                <span asp-validation-for="IsAbsoluteDiscount" class="text-danger"></span>
            </div>
            <div class="form-group" id="discountPercentageForm">
                <label asp-for="DiscountPercentage" class="control-label"></label>
                <input asp-for="DiscountPercentage" class="form-control" />
                <span asp-validation-for="DiscountPercentage" class="text-danger"></span>
            </div>
            <div class="form-group" id="discountAbsoluteForm">
                <label asp-for="DiscountAbsolute" class="control-label"></label>
                <input asp-for="DiscountAbsolute" class="form-control" />
                <span asp-validation-for="DiscountAbsolute" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input type="date" asp-for="StartDate" class="form-control" data-val="true" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input type="date" asp-for="EndDate" class="form-control" data-val="true"/>
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalCapacity" class="control-label"></label>
                <input asp-for="TotalCapacity" class="form-control" />
                <span asp-validation-for="TotalCapacity" class="text-danger"></span>
            </div>
           
           
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="Products" class="control-label"></label>
                <select asp-for="ProductsId" asp-items="@Model.Products"></select>
                <span asp-validation-for="Products" class="text-danger"></span>
            </div>

           <!-- <div class="form-group">
                <label asp-for="IsApproved" class="control-label"></label>
                <input asp-for="IsApproved" class="form-control" />
                <span asp-validation-for="IsApproved" class="text-danger"></span>
            </div>-->
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
